body {
	height: 100vh;
	font-family: 'Poppins', sans-serif;
}

h1 {
	color: rgb(61, 55, 55);
}

.navbar a {
	color: rgb(61, 55, 55);
}

#nome_home {
	font-size: 24px;
}

.img-fluid {
	width: 1200pt;
	height: 300pt;
	background-repeat: no-repeat;
	background-image: url(../Imagens/dashbord.jpg);
	background-size: 1200pt;
}

.bgimage {
	background-image: url(../Imagens/capa.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bgimage2 {
	background-repeat: no-repeat;
	background-image: url("../Imagens/about.jpeg");
	background-size: cover;
}

#card_login {
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.726);
}

.card-header {
	font-size: 28px;
	color: #ffc107;
}

#button {
	font-size: 20px;
	color: white;
}

.form-check {
	color: white;
}

.card-footer {
	color: white;
}

.card-text {
	height: 150px;
}

.bg-offwhite {
	background-color: rgba(122, 114, 114, 0.726);
}

.number-circle {
	border-radius: 50%;
	padding: 50px;
	box-sizing: initial;
	background: #fff;
	border: 7px solid #0abfc8;
	color: #666;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	margin-right: 10px;
}

.number-circle span {
	display: block;
	position: absolute;
}

.number-circle span:first-child {
	bottom: 47px
}

.number-circle span:last-child {
	bottom: 23px;
	left: 37px;
}

.bg-yellow {
	background: #ffda6a;
	border-radius: 5px;
	padding:10px;
	border:0;
}

.input-date{
	border: 0;
}


.footerPage{
	position: absolute;
	bottom: 0;
	width:100%;
}